<app-navbar [logged]=logged [privileges]=privileges></app-navbar>
<div class="container pt-3">
  <div class="card border-dark mb-3">
    <form #form="ngForm" (ngSubmit)="upsert()" novalidate=false>
      <div class="card-header bg-dark text-light">{{ title }}</div>
      <div class="card-body text-dark">

        <div class="form-group">
          <label class="label">Nombre:</label>
          <input class="form-control" type="text" name="nombre" [(ngModel)]="user.nombre" [disabled]="user_exist" required>
        </div>
        
        <div class="form-group">
          <label class="label">Apellidos:</label>
          <input class="form-control" type="text" name="apellidos" [(ngModel)]="user.apellidos" [disabled]="user_exist" required>
        </div>
        
        <div class="form-group">
          <label class="label">Email:</label>
          <input class="form-control" type="email" name="email" [(ngModel)]="user.email" [disabled]="user_exist" required>
        </div>
    
        <div class="form-group">
          <label class="label">Contraseña:</label>
          <input class="form-control" type="password" [(ngModel)]="user.password" name="password" [required]="!userId">
        </div>
        <div class="form-group">
          <label class="label" for="user_type">Tipo de usuario</label>
          <select class="form-control" [(ngModel)]="user.user_type" name="user_type" required>
            <option value="" selected>Seleccione el tipo de usuario</option>
            <option *ngFor="let type of userTypes" value="{{type.id}}">{{ type.desc }}</option>
          </select>
        </div>
      </div>
      <div class="card-footer bg-dark border-dark">
        <div class="row">
          <div class="col">
            <a class="btn btn-light" routerLink="/users">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <button [disabled]="!form.valid" type="submit" [class]="!form.valid ? 'btn btn-danger' : 'btn btn-success'">
              <i [class]="!form.valid ? 'fa fa-times' : 'fa fa-check'" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>